{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/users/base.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock  %}</title>
</head>
<body>
    <div style="width:100wh; height:100vh; position: absolute; z-index: -1;" id="particles-js"></div>
    {% block content %}{% endblock  %}

    {% block extrajs %}
    
    {% endblock  %}

    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/activador.js' %}"></script>
</body>
</html>

