asgiref==3.6.0
backports.zoneinfo==0.2.1
bokeh==2.4.2
contourpy==1.0.7
cycler==0.11.0
Django==4.1.4
et-xmlfile==1.1.0
fonttools==4.38.0
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.2
numpy==1.24.1
openpyxl==3.0.10
packaging==23.0
pandas==1.5.2
Pillow==9.4.0
psycopg2==2.9.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
six==1.16.0
sqlparse==0.4.3
tornado==6.2
typing-extensions==4.4.0
tzdata==2022.7
workdays==1.4
xyzservices==2022.9.0
