{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Agregar Lote</h1>

<form action="" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td class='item-add'><label for="lang">Parametro</label></td>
            <td class='item-input'>
                <select class='select1' name="parametro" id="" required>
                    <option value=""></option>
                    {% for p in parametros %}
                    <option value="{{ p.codigo }}">{{ p.codigo }} ({{ p.ensayo }} por el método: {{ p.metodo }})</option>
                    {% endfor %}
                </select>
                <button type="submit" class='btn-filtrar'>Filtrar</button>
            </td>  
        </tr>
    </table>
    
    
</form>

<form class="form inactive" action="" method='POST'>
    {% csrf_token %}

    <table>
        <tr style='display:none'>
            <td class='item-add'><label for="">Creador</label></td>
            <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' required readonly></td>
        </tr>

        <tr style='display:none'>
            <td class='item-add'><label for="">Parametro seleccionado <span style='color: red;'>*</span></label></td>
            <td class='item-input'><input type='text' class='parametro_escogido' name="parametro_escogido" value='{{ parametro }}' required readonly></td>
        </tr>

        <tr>
            <td class='item-add'><label for="lang">Servicios  <span style='color: red;'>*</span></label></td>
            <td class='item-input'>
                <select class='select1' name="service" id="lang"  multiple required>
                    {% for s in servicios %}
                    <option value="{{ s.id }}">{{ s.codigo_servicio }} {{ s.parametro.codigo }} ({{s.servicio.proyecto.cliente.titular}})</option>
                {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td class='item-add'><label for="lang">Analista responsable  <span style='color: red;'>*</span></label></td>
            <td class='item-input'>
                <select class='select1' name="analista" id="" required>
                    <option value=""></option>
                    {% for analista in analistas %}
                    <option value="{{ analista.id }}">{{ analista.username }}</option>
                    {% endfor %}
                </select>
            </td>  
        </tr>

    </table>
        

    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}

{% block extrajs %}

<script>
    const parametro_escogido = document.querySelector('.parametro_escogido');
    const form = document.querySelector('.form');
    if (parametro_escogido.value!=''){
        form.classList.remove('inactive');
    }
</script>
{% endblock extrajs %}