{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Agregar Servicio</h1>

<form action="" method='POST'>
    {% csrf_token %}
    <table  class='client-select'>
        <tr>
            <td class='item-add'><label for="lang">Tipo de muestra</label></td>
            <td class='item-input' style='display: flex;'>
                <select class='select1' name="tipo_muestra" id="lang"  size='1'>
                    <option value=""></option>
                    {% for tipo in tipos_de_muestras %}
                    <option value="{{ tipo.nombre }}">{{ tipo.nombre }}</option>
                {% endfor %}
                </select>
                <button class='btn-filtrar' style='margin-left: 10px' type="submit">Filtrar</button>
            </td>
        </tr>
        <p></p>
        <p></p>
    </table>
    

</form>

<form class='form inactive'  action="" method='POST'>
    {% csrf_token %}

    <table  class='client-select'>
        <tr>
            <td class='item-add'><label for="lang">¿Servicio ETFA?</label></td>
            <td class='item-input'>
                <input type="text" name='etfa' value='NO' readonly>
            </td>
        </tr>
        <p></p>
        <p></p>
    </table>
    <table>
        <tr style='display:none;'>
            <td class='item-add'><Label>Proyecto</Label></td>
            <td class='item-input'><input type="text" name="proyecto" id="" placeholder="" value='{{ project.codigo }}'></td>
        </tr>

        <tr style='display:none;'>
            <td class='item-add'><Label>Cliente</Label></td>
            <td class='item-input'><input type="text" name="cliente" id="" placeholder="" value='{{ project.cliente_id }}'></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Fecha de muestreo</Label></td>
            <td class='item-input'><input type='datetime-local' name="fecha_de_muestreo" id="" placeholder="" required></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Días habiles para entrega al cliente</Label></td>
            <td class='item-input'><input type='number' name="habiles" id="" placeholder="numero de días habiles" required></td>
        </tr>
        
        <tr>
            <td class='item-add'><Label>Fecha para entrega de envases</Label></td>
            <td class='item-input'><input type='datetime-local' name="fecha_de_contenedores" id="" placeholder="" required></td>
        </tr>

        <tr style='display:none'>
            <td class='item-add'><label for="">Creador</label></td>
            <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' required></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Muestreado por</Label></td>
            <td class='item-input'><input type="text" name="muestreado_por_algoritmo" id="" placeholder="Nombre del muestreador"></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Observación</Label></td>
            <td class='item-input'><input type="text" name="observacion" id="" placeholder="Información adicional"></td>
        </tr>

        <tr style='display:none;'>
            <td class='item-add'><label for="">Tipo de muestra</label></td>
            <td class='item-input'><input type='text' class='tipodemuestra' name="tipo_de_muestra" value='{{ tipo_de_muestra }}' readonly></td>
        </tr>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Lugar de monitoreo</label></td>
                <td class='item-input'>
                    <select class='select1' name="area" id="lang"  size='1'>
                        <option value=""></option>
                        {% for sp in monitoring_places %}
                        <option value="{{ sp.nombre }}">{{ sp.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Punto de muestreo</label></td>
                <td class='item-input'>
                    <select class='select1' name="punto_de_muestreo" id="lang"  size='1'>
                        <option value=""></option>
                        {% for sp in sample_points %}
                        <option value="{{ sp.nombre }}">{{ sp.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>


        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Parametros</label></td>
                <td class='item-input'>
                    <select class='select1' name="parameters" id="lang" style="height: 200px;" multiple>
                        <option value=""></option>
                        {% for p in parameters %}
                        <option value="{{ p.id }}" style={% if p.acreditado == 'nan' %}"color: rgb(196, 0, 0);"{% endif %}>{{ p.codigo }} (Analisis de {{ p.ensayo }} en {{ p.tipo_de_muestra }} por {{ p.metodo }})</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Norma de Referencia</label></td>
                <td class='item-input'>
                    <select class='select1' name="norma_de_referencia" id="lang"  size='1'>
                        <option value=""></option>
                        {% for n in normas %}
                        <option value="{{ n.id }}">{{ n.norma }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">RCA</label></td>
                <td class='item-input'>
                    <select class='select1' name="rCA" id="lang"  size='1'>
                        <option value=""></option>
                        {% for rca in rcas %}
                        <option value="{{ rca.id }}">{{ rca.rca_asociada }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

    </table>
        

    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}

{% block extrajs %}
    <script>
        const tipodemuestra = document.querySelector('.tipodemuestra');
        const form = document.querySelector('.form');
        if (tipodemuestra.value!=''){
            form.classList.remove('inactive');
        }
    </script>
{% endblock extrajs %}