{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Agregar Servicio</h1>

<form action="" method='POST'>
    {% csrf_token %}

    <table>
        <tr style='display:none;'>
            <td class='item-add'><Label>Proyecto</Label></td>
            <td class='item-input'><input type="text" name="proyecto" id="" placeholder="" value='{{ project.codigo }}'></td>
        </tr>

        <tr style='display:none;'>
            <td class='item-add'><Label>Cliente</Label></td>
            <td class='item-input'><input type="text" name="cliente" id="" placeholder="" value='{{ project.cliente_id }}'></td>
        </tr>
        

        <tr>
            <td class='item-add'><Label>Fecha de muestreo</Label></td>
            <td class='item-input'><input type='datetime-local' name="fecha_de_muestreo" id="" placeholder="" required></td>
        </tr>
        

        <tr>
            <td class='item-add'><Label>Fecha de recepción</Label></td>
            <td class='item-input'><input type='datetime-local' name="fecha_de_recepcion" id="" placeholder="" required></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Días habiles para entrega al cliente</Label></td>
            <td class='item-input'><input type='number' name="habiles" id="" placeholder="numero de días habiles" required></td>
        </tr>

        <tr style='display:none'>
            <td class='item-add'><label for="">Creador</label></td>
            <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' required></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Muestreado por</Label></td>
            <td class='item-input'><input type="text" name="muestreado_por_algoritmo" id="" placeholder="Nombre del muestreador" required></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Observación</Label></td>
            <td class='item-input'><input type="text" name="observacion" id="" placeholder="Información adicional"></td>
        </tr>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Punto de muestreo</label></td>
                <td class='item-input'>
                    <select class='select1' name="area" id="lang"  size='1' required>
                        <option value=""></option>
                        {% for sp in monitoring_places %}
                        <option value="{{ sp.id }}">{{ sp.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Punto de muestreo</label></td>
                <td class='item-input'>
                    <select class='select1' name="punto_de_muestreo" id="lang"  size='1' required>
                        <option value=""></option>
                        {% for sp in sample_points %}
                        <option value="{{ sp.id }}">{{ sp.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Parametros</label></td>
                <td class='item-input'>
                    <select class='select1' name="parameters" id="lang"  multiple required>
                        <option value=""></option>
                        {% for p in parametros_cot %}
                        <option value="{{ p.id }}">{{ p.codigo }} (Analisis de {{ p.ensayo }} en {{ p.tipo_de_muestra }} por {{ p.metodo }})</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

    </table>
        

    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}