{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Agregar filtro</h1>

<form action="" method='POST'>
    {% csrf_token %}

        <table>
            <tr>
                <td class='item-add'><Label>Código</Label></td>
                <td class='item-input'><input type="text" name="codigo" id="" placeholder="Código" required></td>
                
            </tr>
            
            <tr>
                <td class='item-add'><Label>Descripción</Label></td>
                <td class='item-input'><input type="text" name="descripcion" id="" placeholder="Descripción" required></td>
            </tr>
    
            <tr style='display:none'>
                <td class='item-add'><label for="">Creador</label></td>
                <td class='item-input'><input type='text' name="creador" value='{{ user.username }}' readonly></td>
            </tr>
        </table>
        

    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}