{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Agregar Servicio ETFA</h1>

<form action="" method='POST'>
    {% csrf_token %}

        <table>
            <tr>
                <td class='item-add'><Label>Código de autorización <span style='color: red;'>*</span></Label></td>
                <td class='item-input'><input type="text" name="codigo" id="" placeholder="Código" ></td>
            </tr>
            
            <tr style='display:none'>
                <td class='item-add'><label for="">Creador</label></td>
                <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' required></td>
            </tr>
        </table>
        
        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Parametro <span style='color: red;'>*</span></label></td>
                <td class='item-input'>
                    <select class='select1' name="parametro" id="lang" size='1'>
                        <option value=""></option>
                        {% for p in parameters %}
                        <option value="{{ p.id }}">{{ p.codigo }}  {{p.ensayo}}  {{p.metodo}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}