{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}
{% block content %}
<h1 class="title">Agregar Parametros</h1>

<form action="" method='POST'>
    {% csrf_token %}   

        <table class='table-client'>
            <tr>
                <td class='item-add'><label for="">Ensayo</label></td>
                <td class='item-input'><input type="text" name="ensayo" placeholder="Nombre de ensayo" required></td>
            </tr>
            <tr>
                <td class='item-add'><label for="">Código</label></td>
                <td class='item-input'><input type="text" name="codigo" placeholder="Código de ensayo" required></td>
            </tr>
        </table>
        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Metodo</label></td>
                <td class='item-input'>
                    <select class='select1' name="metodo" id="lang" size='1' required>
                        <option value=""></option>
                        {% for metodo in metodos %}
                        <option value="{{ metodo.nombre }}">{{ metodo.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <table class='limit'>
            <tr>
                <td class='item-add-2'><label for="">LDM</label></td>
                <td class='item-input-2'><input type="text" name="LDM" placeholder="Límite de detección"></td>
                <td class='item-add-2'><label for="">LCM</label></td>
                <td class='item-input-2'><input type="text" name="LCM" placeholder="Límite de cuantificación"></td>
                <td class='item-add-2'><label for="">Unidad</label></td>
                <td class='item-input-2'><input type="text" name="unidad" placeholder="Unidad de medida"></td>
            </tr>
        </table>
        
        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Tipo de muestra</label></td>
                <td class='item-input'>
                    <select class='select1' name="tipo_de_muestra" id="lang"  size='1' required>
                        <option value=""></option>
                        {% for tipo_de_muestra in tipos_de_muestras %}
                        <option value="{{ tipo_de_muestra.nombre }}">{{ tipo_de_muestra.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Envase</label></td>
                <td class='item-input'>
                    <select class='select1' name="envase" id="lang" size='1'>
                        <option value=""></option>
                        {% for envase in envases %}
                        <option value="{{ envase.codigo }}">{{ envase.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
        </table> 
        <table>
            <tr style='display:none'>
                <td class='item-add'><label for="">Creador</label></td>
                <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' readonly></td>
            </tr>
        </table>
        {% if error_parameter %}<p class="error_parameter">{{ error_parameter }}</p>{% endif %}
    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}