{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Agregar Proyecto</h1>

<form action="" method='POST'>
    {% csrf_token %}

        <table>
            <tr style='display:none'>
                <td class='item-add'><label for="">Cliente</label></td>
                <td class='item-input'><input type='text' name="cliente" value={{cliente.id}} readonly></td>
            </tr>
            <tr>
                <td class='item-add'><Label>Nombre <span style='color: red;'>*</span></Label></td>
                <td class='item-input'><input type="text" name="nombre" id="" placeholder="nombre" required></td>
                
            </tr>
            
            <tr>
                <td class='item-add'><Label>Código <span style='color: red;'>*</span></Label></td>
                <td class='item-input'><input type="text" name="codigo" id="" placeholder="Código" required></td>
            </tr>
            
            <tr style='display:none'>
                <td class='item-add'><label for="">Creador</label></td>
                <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' readonly></td>
            </tr>
        </table>

    {% if error_client %}<p class="error_client">{{ error_client }}</p>{% endif %}
    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}