{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">{{ cliente.titular }}</h1>
</div>


<h3>RUT</h3>
<p class='p-client'>{{ cliente.rut }}</p>
<p></p>

<h3>Dirección</h3>
<p class='p-client'>{{ cliente.direccion }}</p>
<p></p>

<h3>Actividad</h3>
<p class='p-client'>{{ cliente.actividad }}</p>
<p></p>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Representantes Legales</h2>
        <a class='link-add' href="{% url 'lims:client_add_legal_representative' cliente.id %}"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
    
    {% if legal_representatives %}
        <table>
            <tr>
                <td class='item-list-2 title-item-list'>Nombre</td>
                <td class='item-list-2 title-item-list'>RUT</td>
            </tr>
        
            {% for representative in legal_representatives %}
                <tr>
                    <td class='item-list-2'>{{ representative.nombre }}</td>
                    <td class='item-list-2'>{{ representative.rut }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else  %}
        No hay registro de representates legales.
    {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Contactos</h2>
        <a class='link-add' href="{% url 'lims:client_add_contact' cliente.id %}"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
    
    {% if contacts %}
        <table>
            <tr>
                <td class='item-list-2 title-item-list'>Nombre</td>
                <td class='item-list-2 title-item-list'>RUT</td>
            </tr>
        
            {% for contact in contacts %}
                <tr>
                    <td class='item-list-2'>{{ contact.nombre }}</td>
                    <td class='item-list-2'>{{ contact.rut }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else  %}
        No hay registro de contactos.
    {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Puntos de Muestreo</h2>
        <a class='link-add' href="{% url 'lims:client_add_sample_point' cliente.id %}"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
        {% if sample_points %}
            <table>
                <tr>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for p in sample_points %}
                    <tr>
                        <td class='item-list-sp'>{{ p.nombre }}</td>
                    </tr>
                {% endfor %}
            </table>
        
        {% else  %}
            No hay registro de puntos de muestreo.
        {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">RCA</h2>
        <a class='link-add' href="{% url 'lims:client_add_rca' cliente.id %}"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
        {% if rcas %}
            <table>
                <tr>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for rca in rcas %}
                    <tr>
                        <td class='item-list-sp'>{{ rca.rca_asociada }}</td>
                    </tr>
                {% endfor %}
            </table>
        
        {% else  %}
            No hay registro de RCA.
        {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Proyectos</h2>
        <a class='link-add' href="{% url 'lims:client_add_project' cliente.id %}"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
        {% if projects %}
            <table>
                <tr>
                    <td class='item-list-sp title-item-list'>Codigo</td>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for project in projects %}
                    <tr>
                        <td class='item-list-sp'><a href="{% url 'lims:project' project.codigo %}" class='item-list-sp'>{{ project.codigo }}</a></td>
                        <td class='item-list-sp'>{{ project.nombre }}</td>
                    </tr>
                {% endfor %}
            </table>
        
        {% else  %}
            No hay registro de proyectos.
        {% endif %}
    
</div>


{% endblock content %}