{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}
{% block content %}
<h1 class="title">Agregar Representante Legal</h1>

<form class='form-contador' action="" method='POST'>
    {% csrf_token %}
        <label for="">¿Contactos a agregar?</label>
        <input type="number" name='contact-number' value='{{len_pm}}' class='input-sp'>   
        <button type="submit" class='btn-selector'>Agregar</button>
</form>

<form action="" method='POST'>
    {% csrf_token %}   
    {% for n in pm %}
        <table class='table-client'>
            <tr>
                <td class='item-add'><label for="">Nombre <span style='color: red;'>*</span></label></td>
                <td class='item-input'><input type="text" name="contact{{ forloop.counter }}" placeholder="Nombre" required></td>
            </tr>
            <tr>
                <td class='item-add'><label for="">RUT <span style='color: red;'>*</span></label></td>
                <td class='item-input'><input type="text" name="rut{{ forloop.counter }}" placeholder="RUT" required></td>
            </tr>
            <tr style='display:none'>
                <td class='item-add'><label for="">Creador</label></td>
                <td class='item-input'><input type='text' name="creador{{ forloop.counter }}" value='{{ user.username }}' readonly></td>
            </tr>
        </table>
    {% endfor %}
    {% if error_duplicados %} <p class="error_client">{{ error_duplicados }}</p> {% endif %}
    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}