{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">{{ cliente.titular }}</h1>
</div>


<h3>RUT</h3>
<p class='p-client'>{{ cliente.rut }}</p>
<p></p>

<h3>Dirección</h3>
<p class='p-client'>{{ cliente.direccion }}</p>
<p></p>

<h3>Actividad</h3>
<p class='p-client'>{{ cliente.actividad }}</p>
<p></p>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Representantes Legales</h2>
        <a class='link-add' href="{% url 'lims:client_add_legal_representative' cliente.id %}" title="Agregar representante legal"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
    
    {% if legal_representatives %}
        <table>
            <tr>
                <td class='item-list-2 title-item-list'>Nombre</td>
                <td class='item-list-2 title-item-list'>RUT</td>
            </tr>
        
            {% for representative in legal_representatives %}
                <tr>
                    <td class='item-list-2'>{{ representative.nombre }}</td>
                    <td class='item-list-2'>{% if representante.rut == None %}-{% else %}{{ representative.rut }}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            <span class="page-links">
                {% if legal_representatives.has_previous %}
                    <a href="?page_lr={{ legal_representatives.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="page-current">
                    Pagina {{ legal_representatives.number }} de {{ legal_representatives.paginator.num_pages }}
                </span>
        
                {% if legal_representatives.has_next %}
                    <a href="?page_lr={{ legal_representatives.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    {% else  %}
        No hay registro de representates legales.
    {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Contactos</h2>
        <a class='link-add' href="{% url 'lims:client_add_contact' cliente.id %}" title="Agregar contacto"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
    
    {% if contacts %}
        <table>
            <tr>
                <td class='item-list-2 title-item-list'>Nombre</td>
                <td class='item-list-2 title-item-list'>RUT</td>
            </tr>
        
            {% for contact in contacts %}
                <tr>
                    <td class='item-list-2'>{{ contact.nombre }}</td>
                    <td class='item-list-2'>{% if contact.rut == None %}-{% else %}{{ contact.rut }}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            <span class="page-links">
                {% if contacts.has_previous %}
                    <a href="?page_contact={{ contacts.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="page-current">
                    Pagina {{ contacts.number }} de {{ contacts.paginator.num_pages }}
                </span>
        
                {% if contacts.has_next %}
                    <a href="?page_contact={{ contacts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    {% else  %}
        No hay registro de contactos.
    {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Área o lugar de monitoreo</h2>
        <a class='link-add' href="{% url 'lims:client_add_monitoring_place' cliente.id %}" title="Agregar área o lugar de monitoreo"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
        {% if monitoring_places %}
            <table>
                <tr>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for p in monitoring_places %}
                    <tr>
                        <td class='item-list-sp'>{{ p.nombre }}</td>
                    </tr>
                {% endfor %}
            </table>
        
            <div class="pagination">
                <span class="page-links">
                    {% if monitoring_places.has_previous %}
                        <a href="?page_sp={{ monitoring_places.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="page-current">
                        Pagina {{ monitoring_places.number }} de {{ monitoring_places.paginator.num_pages }}
                    </span>
            
                    {% if monitoring_places.has_next %}
                        <a href="?page_sp={{ monitoring_places.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        {% else  %}
            No hay registro de lugares de monitoreo.
        {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Puntos de Muestreo</h2>
        <a class='link-add' href="{% url 'lims:client_add_sample_point' cliente.id %}" title="Agregar punto de muestreo"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
        {% if sample_points %}
            <table>
                <tr>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for p in sample_points %}
                    <tr>
                        <td class='item-list-sp'>{{ p.nombre }}</td>
                    </tr>
                {% endfor %}
            </table>
        
            <div class="pagination">
                <span class="page-links">
                    {% if sample_points.has_previous %}
                        <a href="?page_sp={{ sample_points.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="page-current">
                        Pagina {{ sample_points.number }} de {{ sample_points.paginator.num_pages }}
                    </span>
            
                    {% if sample_points.has_next %}
                        <a href="?page_sp={{ sample_points.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        {% else  %}
            No hay registro de puntos de muestreo.
        {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">RCA</h2>
        <a class='link-add' href="{% url 'lims:client_add_rca' cliente.id %}" title="Agregar RCA"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
        {% if rcas %}
            <table>
                <tr>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for rca in rcas %}
                    <tr>
                        <td class='item-list-sp'>{{ rca.rca_asociada }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="pagination">
                <span class="page-links">
                    {% if rcas.has_previous %}
                        <a href="?page_rca={{ rcas.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="page-current">
                        Pagina {{ rcas.number }} de {{ rcas.paginator.num_pages }}
                    </span>
            
                    {% if rcas.has_next %}
                        <a href="?page_rca={{ rcas.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        
        {% else  %}
            No hay registro de RCA.
        {% endif %}
    
</div>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Proyectos</h2>
        {% comment %} <a class='link-add' href="{% url 'lims:client_add_project' cliente.id %}"><i class="fa-solid fa-circle-plus"></i></a>  {% endcomment %}
        <span class='btn_type_project' title="Agregar proyecto"><i class="fa-solid fa-circle-plus"></i></span>
    </div>
        {% if projects %}
            <table>
                <tr>
                    <td class='item-list-sp title-item-list'>Codigo</td>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for project in projects %}
                    <tr class='row'>
                        <td class='item-list-sp'><a href="{% if project.cotizado %}{% url 'lims:project_cot' project.codigo %}{% else %}{% url 'lims:project' project.codigo %}{% endif %}" class='item-list-sp'>{{ project.codigo }}</a></td>
                        <td class='item-list-sp'>{{ project.nombre }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="pagination">
                <span class="page-links">
                    {% if projects.has_previous %}
                        <a href="?page_project={{ projects.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="page-current">
                        Pagina {{ projects.number }} de {{ projects.paginator.num_pages }}
                    </span>
            
                    {% if projects.has_next %}
                        <a href="?page_project={{ projects.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        
        {% else  %}
            No hay registro de proyectos.
        {% endif %}
    
</div>


{% endblock content %}

{% block extrajs %}
    <div class='add_project_type1 inactive'>
        <div class="project_exit" style='justify-content: end;'><i class="fa-solid fa-circle-xmark"></i></div>
        <h2>¿Tipo de proyecto a agregar?</h2>
        <div>
            <a href="{% url 'lims:client_add_project' cliente.id %}">Completo</a>
            <span class='btn_type_project2'>Cotizado</span>
        </div>
    </div>

    <div class='add_project_type2 inactive'>
        <div class="project_exit" style='justify-content: space-between;'><i class="fa-solid fa-rotate-left return"></i><i class="fa-solid fa-circle-xmark exit"></i></div>
        <h2>¿El Proyecto es con servicio ETFA?</h2>
        <div>
            <a href="{% url 'lims:client_add_project_cot_etfa' cliente.id %}">SI</a>
            <a href="{% url 'lims:client_add_project_cot' cliente.id %}">NO</a>
        </div>
    </div>
    <script src="{% static 'js/lims_proj.js' %}"></script>
{% endblock  %}