{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Agregar Proyecto</h1>

<form action="" method='POST'>
    {% csrf_token %}
    <table  class='client-select'>
        <tr>
            <td class='item-add'><label for="lang">Tipo de muestra</label></td>
            <td class='item-input' style='display: flex;'>
                <select class='select1' name="tipo_muestra" id="lang"  size='1' required>
                    <option value=""></option>
                    {% for tipo in tipos_de_muestras %}
                    <option value="{{ tipo.nombre }}">{{ tipo.nombre }}</option>
                {% endfor %}
                </select>
                <button class='btn-filtrar' style='margin-left: 10px' type="submit">Filtrar</button>
            </td>
        </tr>
        <p></p>
        <p></p>
    </table>
    

</form>

<form class='form inactive' action="" method='POST'>
    {% csrf_token %}

        <table>
            <tr style='display:none'>
                <td class='item-add'><label for="">Cliente</label></td>
                <td class='item-input'><input type='text' name="cliente" value={{cliente.id}} readonly></td>
            </tr>

            <tr style='display:none'>
                <td class='item-add'><label for="">Tipo de muestra</label></td>
                <td class='item-input'><input class='tipodemuestra' type='text' name="tipo_de_muestra" value='{{ tipo_de_muestra }}' readonly></td>
            </tr>

            <tr>
                <td class='item-add'><Label>Nombre <span style='color: red;'>*</span></Label></td>
                <td class='item-input'><input type="text" name="nombre" id="" placeholder="nombre" required></td>
                
            </tr>
            
            <tr>
                <td class='item-add'><Label>Código <span style='color: red;'>*</span></Label></td>
                <td class='item-input'><input type="text" name="codigo" id="" placeholder="Código" required></td>
            </tr>
            
            
            <tr style='display:none'>
                <td class='item-add'><label for="">Creador</label></td>
                <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' readonly></td>
            </tr>
        </table>
        
        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Parametros cotizados <span style='color: red;'>*</span></label></td>
                <td class='item-input'>
                    <select class='select1 select-mult' name="parameters" id="lang" multiple required>
                        <option value=""></option>
                        {% for p in parameters %}
                        <option value="{{ p.id }}" style={% if p.acreditado == 'nan' %}"color: rgb(196, 0, 0);"{% endif %}>{{ p.codigo }} (Analisis de {{ p.ensayo }} en {{ p.tipo_de_muestra }} por {{ p.metodo }})</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Norma de Referencia</label></td>
                <td class='item-input'>
                    <select class='select1' name="norma_de_referencia" id="lang"  size='1'>
                        <option value=""></option>
                        {% for n in normas %}
                        <option value="{{ n.id }}">{{ n.norma }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Representante legal</label></td>
                <td class='item-input'>
                    <select class='select1' name="representante_legal" id="lang"  size='1'>
                        <option value=""></option>
                        {% for representante_legal in representantes_legales %}
                        <option value="{{ representante_legal.id }}">{{ representante_legal.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">RCA</label></td>
                <td class='item-input'>
                    <select class='select1' name="rCA" id="lang"  size='1'>
                        <option value=""></option>
                        {% for rca in rcas %}
                        <option value="{{ rca.id }}">{{ rca.rca_asociada }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>
    {% if error_client %}<p class="error_client">{{ error_client }}</p>{% endif %}
        
    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}

{% block extrajs %}
    <script>
        const tipodemuestra = document.querySelector('.tipodemuestra');
        const form = document.querySelector('.form');
        if (tipodemuestra.value!=''){
            form.classList.remove('inactive');
        }
    </script>
{% endblock extrajs %}