{% extends 'base/base_client.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">{{ cliente.titular }}</h1>
</div>


<h3>RUT</h3>
<p class='p-client'>{{ cliente.rut }}</p>
<p></p>

<h3>Dirección</h3>
<p class='p-client'>{{ cliente.direccion }}</p>
<p></p>

<h3>Actividad</h3>
<p class='p-client'>{{ cliente.actividad }}</p>
<p></p>

<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Proyectos</h2>

    </div>
        {% if projects %}
            <table>
                <tr>
                    <td style='width: 200px;' class='item-list-sp title-item-list'>Codigo</td>
                    <td class='item-list-sp title-item-list'>Nombre</td>
                </tr>
            
                {% for project in projects %}
                    <tr>
                        <td class='item-list-sp'><a href="{% if project.cotizado %}{% url 'lims:project_client' project.codigo %}{% else %}{% url 'lims:project_client' project.codigo %}{% endif %}" class='item-list-sp'>{{ project.codigo }}</a></td>
                        <td class='item-list-sp'>{{ project.nombre }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="pagination">
                <span class="page-links">
                    {% if projects.has_previous %}
                        <a href="?page_project={{ projects.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="page-current">
                        Pagina {{ projects.number }} de {{ projects.paginator.num_pages }}
                    </span>
            
                    {% if projects.has_next %}
                        <a href="?page_project={{ projects.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        
        {% else  %}
            No hay registro de proyectos.
        {% endif %}
    
</div>

<div style='display: flex; justify-content: end;'>
    <form action="{% url 'lims:export_data' usuario.username %}" method="get">
        <button class='button-save' type="submit">Descargar excel (data completa)</button>
    </form>
</div>

{% endblock  %}