{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="opcion" id="">
            <option value=""></option>
            <option value="titular">Titular</option>
            <option value="rut">RUT</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>

<div class='title_contain'>
    <h1 class="title">Clientes</h1>
    <a class='link-add' href="{% url 'lims:add_client' %}"><i class="fa-solid fa-circle-plus"></i></a> 
</div>
{% if clients %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Titular</td>
            <td class='item-list title-item-list'>RUT</td>
            <td class='item-list title-item-list'>Dirección</td>
            <td class='item-list title-item-list'>Actividad</td>
        </tr>

        {% for c in clients %}
        <tr>
            <td><a href="{% url 'lims:client' c.id %}" class='item-list item-list-a' style='display: block;
                width: 180px;'>{{ c.titular }}</a></td>
            <td class='item-list'>{{ c.rut }}</td>
            <td class='item-list'>{{ c.direccion }}</td>
            <td class='item-list'>{{ c.actividad }}</td>
        </tr>
        {% endfor %}
    </table>
        {% else %}
    No hay registro de clientes.
{% endif %}


{% comment %} <div class='right-bar-contain'>
    <ul class='ul-right-bar-contain'>
        <li class='right-bar-item'><a class='link-bar' href="">Contacto</a></li>
        <li class='right-bar-item'><a class='link-bar' href="">Representante Legal</a></li>
        <li class='right-bar-item'><a class='link-bar' href="{% url 'lims:sample_points' %}">Punto de Muestreo</a></li>
        <li class='right-bar-item'><a class='link-bar' href="">RCA</a></li>
    </ul>
</div> {% endcomment %}


{% endblock content %}