{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Clonar Servicio</h1>

<form action="" method='POST'>
    {% csrf_token %}

    <table  class='client-select'>
        <tr>
            <td class='item-add'><label for="lang">Proyecto</label></td>
            <td class='item-input'>
                <select class='select1' name="proyecto" id="lang"  size='1'>
                    <option value=""></option>
                    {% for p in proyectos %}
                    <option value="{{ p.codigo }}">{{ p.nombre }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <p></p>
        <p></p>
    </table>
    
    <table>
        <tr>
            <td class='item-add'><Label>Fecha de muestreo</Label></td>
            <td class='item-input'><input type='date' name="fecha_de_muestreo" id="" placeholder="" required></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Días habiles para entrega al cliente</Label></td>
            <td class='item-input'><input type='number' name="habiles" id="" placeholder="numero de días habiles" required></td>
        </tr>
        
        <tr>
            <td class='item-add'><Label>Fecha para entrega de envases o filtros</Label></td>
            <td class='item-input'><input type='date' name="fecha_de_contenedores" id="" placeholder="" required></td>
        </tr>

        <tr style='display:none'>
            <td class='item-add'><label for="">Creador</label></td>
            <td class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' required></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Muestreado por</Label></td>
            <td class='item-input'><input type="text" name="muestreado_por_algoritmo" id="" placeholder="Nombre del muestreador"></td>
        </tr>

        <tr>
            <td class='item-add'><Label>Observación</Label></td>
            <td class='item-input'><input type="text" name="observacion" id="" placeholder="Información adicional"></td>
        </tr>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Punto de muestreo</label></td>
                <td class='item-input'>
                    <select class='select1' name="punto_de_muestreo" id="lang"  size='1'>
                        <option value=""></option>
                        {% for sp in sample_points %}
                        <option value="{{ sp.id }}">{{ sp.nombre }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">Norma de Referencia</label></td>
                <td class='item-input'>
                    <select class='select1' name="norma_de_referencia" id="lang"  size='1'>
                        <option value=""></option>
                        {% for n in normas %}
                        <option value="{{ n.id }}">{{ n.norma }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

        <table  class='client-select'>
            <tr>
                <td class='item-add'><label for="lang">RCA</label></td>
                <td class='item-input'>
                    <select class='select1' name="rCA" id="lang"  size='1'>
                        <option value=""></option>
                        {% for rca in rcas %}
                        <option value="{{ rca.id }}">{{ rca.rca_asociada }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <p></p>
            <p></p>
        </table>

    </table>
        

    <button class='button-save' type="submit">Guardar</button>
</form>


{% endblock content %}