{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">Envases</h1>
    {% if manager %}<a class='link-add' href="{% url 'lims:add_containers' %}" title="Agregar envase"><i class="fa-solid fa-circle-plus"></i></a> {% endif %}
    
</div>

{% if envases %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Código</td>
            <td class='item-list title-item-list'>Volumen</td>
            <td class='item-list title-item-list'>Material</td>
            <td class='item-list title-item-list'>Preservante</td>
        </tr>
    
        {% for envase in envases %}
        <tr class='row'>
            <td class='item-list'>{{ envase.codigo }}</td>
            <td class='item-list'>{% if envase.volumen %}{{ envase.volumen }}{% else %}-{% endif %}</td>
            <td class='item-list'>{% if envase.material %}{{ envase.material }}{% else %}-{% endif %}</td>
            <td class='item-list'>{% if envase.preservante %}{{ envase.preservante }}{% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    
    <div class="pagination">
        <span class="page-links">
            {% if envases.has_previous %}
                <a href="?page={{ envases.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ envases.number }} de {{ envases.paginator.num_pages }}
            </span>
    
            {% if envases.has_next %}
                <a href="?page={{ envases.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p style='margin: 0 0 15px'>No hay registro de envases.</p> 
{% endif %}

{% if request.user.username == 'admin' %}
<div class='import'>
    <form action="" method="post" enctype="multipart/form-data" class='import-form'>
        {% csrf_token %}
        <input type="file" name="excel_file" id="">
        <input style='display:none;' type="text" name="responsable_de_analisis" value='{{ user.id }}' readonly>
        <button type="submit">Importar</button>
    </form>
</div>
{% endif %}
{% endblock content %}