{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="buscar" id="">
            <option value=""></option>
            <option value="autorizacion">C. autorización</option>
            <option value="ensayo">Ensayo</option>
            <option value="codigo">C. Parametro</option>
            <option value="metodo">Metodo</option>
            <option value="metodo">Tipo de muestra</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>

<div class='title_contain'>
    <h1 class="title">Servicios ETFA</h1>
    {% if manager %}<a class='link-add' href="{% url 'lims:add_etfa' %}" title="Agregar ETFA"><i class="fa-solid fa-circle-plus"></i></a> {% endif %}
    
</div>

{% if services %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Código de autorización</td>
            <td class='item-list title-item-list'>Ensayo</td>
            <td class='item-list title-item-list'>C. Parametro</td>
            <td class='item-list title-item-list'>Método</td>
            <td class='item-list title-item-list'>Tipo de muestra</td>
        </tr>
    
        {% for service in services %}
        <tr class='row'>
            <td class='item-list'>{{ service.codigo_etfa }}</td>               
            <td class='item-list'>{{ service.ensayo }}</td>
            <td class='item-list'>{{ service.codigo }}</td>
            <td class='item-list'>{{ service.metodo }}</td>
            <td class='item-list'>{{ service.tipo_de_muestra }}</td>
            <td>{% if manager %}<a href="{% url 'lims:delete_etfa' service.id %}"><i class="fa-solid fa-x" style='color: red;' title='Quitar autorización ETFA'></i></a>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if services.has_previous %}
                <a href="?page={{ services.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ services.number }} de {{ services.paginator.num_pages }}
            </span>
    
            {% if services.has_next %}
                <a href="?page={{ services.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
{% else %}
    No hay registro de servicios ETFA.
{% endif %}




{% endblock content %}