{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    
    {% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e99219a564.js" crossorigin="anonymous"></script>
    <title>{% block title %}Algoritmos{% endblock  %}</title>
</head>
<body id='body-menu'>
    <header>
        <nav>
            <a class='nav-left' href="{% url 'lims:index' %}"><img class='nav-logo' src="{% static 'img/logo.png' %}" alt="Logo de empresa"></a>
            <div class='nav-right'>
                <ul>
                    <!--<li><a href=""></a></li>-->
                    <li class="nav-item">{{ user.first_name }} {{ user.last_name }}</li>
                    <li class="nav-item"><a href="{% url 'users:logout' %}">Salir</a></li>
                </ul>
            </div>
        </nav>
    </header>
        {% block content %}{% endblock  %}
    <main class= 'main-menu'>
        <div id='menu-contain'>
            <a class='link-menu' href="{% url 'lims:clients' %}">
                <i class="fa-solid fa-users"></i>
                <div>CLIENTES</div></a>
            <a class='link-menu' href="{% url 'lims:projects' %}">
                <i class="fa-solid fa-diagram-project"></i>
                <div>PROYECTOS</div> </a>
            <a class='link-menu' href="{% url 'lims:services' %}">
                <i class="fa-solid fa-vial-virus"></i>
                <div>SERVICIOS</div> </a>
            <a class='link-menu' href="{% url 'lims:service_simulator' %}">
                <i class="fa-solid fa-vial-virus"></i>
                <div>SIMULADOR DE SERV.</div> </a>
            <a class='link-menu' href="{% url 'lims:batches' %}">
                <i class="fa-solid fa-vials"></i>
                <div>LOTES</div> </a>
            <a class='link-menu' href="{% url 'lims:service_parameters' %}">
                <i class="fa-solid fa-chart-simple"></i>
                <div>PARAMETROS DE SERV.</div></a>
            <a class='link-menu' href="{% url 'lims:service_parameters_filter' %}">
                    <i class="fa-solid fa-chart-simple"></i>
                    <div>PARAMETROS GRAV.</div></a>
            <a class='link-menu' href="{% url 'lims:etfa' %}">
                <i class="fa-solid fa-circle-check"></i>
                <div>SERVICIOS ETFA</div> </a>
            <a class='link-menu' href="{% url 'lims:samples_type' %}">
                <i class="fa-solid fa-vial"></i>
                <div>TIPOS DE MUESTRAS</div> </a>
            <a class='link-menu' href="{% url 'lims:parameters' %}">
                <i class="fa-solid fa-gear"></i>
                <div>PARAMETROS</div> </a>
            <a class='link-menu' href="{% url 'lims:methods' %}">
                <i class="fa-solid fa-gears"></i>
                <div>METODOS</div> </a>
            <a class='link-menu' href="{% url 'lims:containers' %}">
                <i class="fa-solid fa-flask-vial"></i>
                <div>ENVASES</div> </a>
            <a class='link-menu' href="{% url 'lims:filters' %}">
                <i class="fa-solid fa-flask-vial"></i>
                <div>FILTROS</div> </a>
            <a class='link-menu' href="{% url 'lims:normas_ref' %}">
                <i class="fa-solid fa-ruler-combined"></i>
                <div>NORMAS DE REF</div> </a>
            {% if request.user.username == 'admin' %}
            <a class='link-menu' href="{% url 'lims:base_importation' %}">
                <i class="fa-solid fa-database"></i>
                <div>DATA IMPORT.</div> </a>
            {% endif %}
            
        </div>
    </main>    

    

    {% block extrajs %}
    
    {% endblock  %}
</body>
</html>