{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">Metodos</h1>
    <a class='link-add' href="{% url 'lims:add_method' %}"><i class="fa-solid fa-circle-plus"></i></a> 
</div>

{% if metodos %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Nombre</td>
            <td class='item-list title-item-list'>Descripción</td>
        </tr>
    
        {% for metodo in metodos %}
        <tr>
            <td class='item-list'>{{ metodo.nombre }}</td>
            <td class='item-list'>{{ metodo.descripcion }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if metodos.has_previous %}
                <a href="?page={{ metodos.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ metodos.number }} de {{ metodos.paginator.num_pages }}
            </span>
    
            {% if metodos.has_next %}
                <a href="?page={{ metodos.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
{% else %}
    <p style='margin: 0 0 15px'>No hay registro de metodos.</p>
{% endif %}

<div class='import'>
    <form action="" method="post" enctype="multipart/form-data" class='import-form'>
        {% csrf_token %}
        <input type="file" name="excel_file" id="">
        <input style='display:none;' type="text" name="responsable_de_analisis" value='{{ user.id }}' readonly>
        <button type="submit">Importar</button>
    </form>
</div>

{% comment %} <form action="{% url 'lims:export_data' %}" method="get">
    <button type="submit">Descargar Excel</button>
</form> {% endcomment %}
{% endblock content %}