{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">Metodos</h1>
    <a class='link-add' href="{% url 'lims:add_method' %}"><i class="fa-solid fa-circle-plus"></i></a> 
</div>

{% if metodos %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Nombre</td>
        </tr>
    
        {% for metodo in metodos %}
        <tr>
            <td class='item-list'>{{ metodo.nombre }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if metodos.has_previous %}
                <a href="?page={{ metodos.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ metodos.number }} de {{ metodos.paginator.num_pages }}
            </span>
    
            {% if metodos.has_next %}
                <a href="?page={{ metodos.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
{% else %}
    No hay registro de metodos.
{% endif %}


{% endblock content %}