{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="buscar" id="">
            <option value=""></option>
            <option value="norma">Norma</option>
            <option value="descripcion">Descripción</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>

<div class='title_contain'>
    <h1 class="title">Normas de referencias</h1>
    <a class='link-add' href="{% url 'lims:add_normas_ref' %}" title="Agregar norma de referencia"><i class="fa-solid fa-circle-plus"></i></a> 
</div>

{% if normas %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Norma</td>
            <td class='item-list title-item-list'>Descripción</td>
        </tr>
    
        {% for norma in normas %}
        <tr>
            <td class='item-list'>{{ norma.norma }}</td>
            <td class='item-list'>{{ norma.descripcion }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if normas.has_previous %}
                <a href="?page={{ normas.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ normas.number }} de {{ normas.paginator.num_pages }}
            </span>
    
            {% if normas.has_next %}
                <a href="?page={{ normas.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% else %}
    <p style='margin: 0 0 15px'>No hay registro de normas de referencia.</p>
{% endif %}

{% if request.user.username == 'admin' %}
<div class='import'>
    <form action="" method="post" enctype="multipart/form-data" class='import-form'>
        {% csrf_token %}
        <input type="file" name="excel_file" id="">
        <input style='display:none;' type="text" name="responsable_de_analisis" value='{{ user.id }}' readonly>
        <button type="submit">Importar</button>
    </form>
</div>
{% endif %}
{% endblock content %}