{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">Normas de referencias</h1>
    <a class='link-add' href="{% url 'lims:add_normas_ref' %}"><i class="fa-solid fa-circle-plus"></i></a> 
</div>

{% if normas %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Norma</td>
        </tr>
    
        {% for norma in normas %}
        <tr>
            <td class='item-list'>{{ norma.norma }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if normas.has_previous %}
                <a href="?page={{ normas.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ normas.number }} de {{ normas.paginator.num_pages }}
            </span>
    
            {% if normas.has_next %}
                <a href="?page={{ normas.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% else %}
    No hay registro de normas de referencia.
{% endif %}


{% endblock content %}