{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="buscar" id="">
            <option value=""></option>
            <option value="ensayo">Ensayo</option>
            <option value="codigo">Codigo</option>
            <option value="metodo">Metodo</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>

<div class='title_contain'>
    <h1 class="title">Parámetros</h1>
    <a class='link-add' href="{% url 'lims:add_parameter' %}" title="Agregar parámetro"><i class="fa-solid fa-circle-plus"></i></a> 
</div>

{% if parameters %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Ensayo</td>
            <td class='item-list title-item-list'>Código</td>
            <td class='item-list title-item-list'>Metodo</td>
            <td class='item-list title-item-list'>LDM</td>
            <td class='item-list title-item-list'>LCM</td>
            <td class='item-list title-item-list'>Unidad</td>
        </tr>
    
        {% for parameter in parameters %}
        <tr class='row'>
            
            <td class='item-list'>{% if parameter.acreditado != 'nan' %}<i style='color:green; margin-right:10px;'class="fa-solid fa-circle-check"></i>{% else %}<i style='color:red; margin-right:10px;'class="fa-solid fa-circle-check"></i>{% endif %}{{ parameter.ensayo }}</td>
            
            <td class='item-list'>{{ parameter.codigo }}</td>
            <td class='item-list'>{{ parameter.metodo }}</td>
            <td class='item-list'>{{ parameter.LDM }}</td>
            <td class='item-list'>{{ parameter.LCM }}</td>
            <td class='item-list'>{{ parameter.unidad }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if parameters.has_previous %}
                <a href="?page={{ parameters.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ parameters.number }} de {{ parameters.paginator.num_pages }}
            </span>
    
            {% if parameters.has_next %}
                <a href="?page={{ parameters.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
{% else %}
    <p style='margin: 0 0 15px'>No hay registro de parametros.</p>
{% endif %}

<div class='import'>
    <form action="" method="post" enctype="multipart/form-data" class='import-form'>
        {% csrf_token %}
        <input type="file" name="excel_file" id="">
        <input style='display:none;' type="text" name="responsable_de_analisis" value='{{ user.id }}' readonly>
        <button type="submit">Importar</button>
    </form>
</div>


{% endblock content %}