{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">Parámetros</h1>
    <a class='link-add' href="{% url 'lims:add_parameter' %}"><i class="fa-solid fa-circle-plus"></i></a> 
</div>

{% if parameters %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Ensayo</td>
            <td class='item-list title-item-list'>Código</td>
            <td class='item-list title-item-list'>Metodo</td>
            <td class='item-list title-item-list'>LDM</td>
            <td class='item-list title-item-list'>LCM</td>
            <td class='item-list title-item-list'>Unidad</td>
        </tr>
    
        {% for parameter in parameters %}
        <tr>
            <td class='item-list'>{{ parameter.ensayo }}</td>
            <td class='item-list'>{{ parameter.codigo }}</td>
            <td class='item-list'>{{ parameter.metodo }}</td>
            <td class='item-list'>{{ parameter.LDM }}</td>
            <td class='item-list'>{{ parameter.LCM }}</td>
            <td class='item-list'>{{ parameter.unidad }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    No hay registro de parametros.
{% endif %}


{% endblock content %}