{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}

<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="opcion" id="">
            <option value=""></option>
            <option value="codigo">Codigo</option>
            <option value="nombre">Nombre</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>

<div class='title_contain'>
    <h1 class="title  title-par">Proyectos</h1>
    <div style='margin: auto 0;'>
        <form action="" method='POST'>
            {% csrf_token %}
            <table  class='client-select'>
                <tr>
                    <td class='item-input'>
                        <select class='select2' name="client" id="lang"  size='1'>
                            <option value=""></option>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}">{{ cliente.titular }} </option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><button class='btn-filtrar' type="submit">Filtrar</button></td>
                    
                </tr>
            </table>
        </form>
    </div>
</div>

{% if proyectos %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Codigo</td>
            <td class='item-list title-item-list'>Nombre</td>
        </tr>
    
        {% for proyecto in proyectos %}
        <tr>
            <td class='item-list-sp'><a href="{% url 'lims:project' proyecto.codigo %}" class='item-list-sp'>{{ proyecto.codigo }}</a></td>
            <td class='item-list'>{{ proyecto.nombre }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if proyectos.has_previous %}
                <a href="?page={{ proyectos.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ proyectos.number }} de {{ proyectos.paginator.num_pages }}
            </span>
    
            {% if proyectos.has_next %}
                <a href="?page={{ proyectos.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
{% else %}
    No hay registro de proyectos.
{% endif %}



{% endblock content %}