{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">Puntos de Muestreo</h1>
    <a class='btn-add' href="{% url 'lims:add_sample_point' %}" title="Agregar punto de muestreo">Agregar</a> 
</div>

<table>
    <tr>
        <td class='item-list-sp title-item-list'>Nombre</td>
        <td class='item-list-sp title-item-list'>Titular</td>
    </tr>
    {% if sp %}
        {% for p in sp %}
            <tr>
                <td class='item-list-sp'>{{ p.nombre }}</td>
                <td class='item-list-sp'>
                        {% for cliente in clients %}  
                            {% if cliente.id == p.cliente_id %}
                                {{ cliente.titular }}
                            {% endif %}
                        {% endfor %}
                </td>
            </tr>
        {% endfor %}
    {% else  %}
        No hay registro de puntos de muestreo.
    {% endif %}

</table>

{% endblock content %}