{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">Tipos de Muestras</h1>
    {% if manager %}<a class='link-add' href="{% url 'lims:add_sample_type' %}" title="Agregar tipo de muestra"><i class="fa-solid fa-circle-plus"></i></a> {% endif %}
    
</div>

{% if samples_type %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Nombre</td>
        </tr>
    
        {% for st in samples_type %}
        <tr>
            <td class='item-list'>{{ st.nombre }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if samples_type.has_previous %}
                <a href="?page={{ samples_type.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ samples_type.number }} de {{ samples_type.paginator.num_pages }}
            </span>
    
            {% if samples_type.has_next %}
                <a href="?page={{ samples_type.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
{% else %}
    No hay registro de parametros.
{% endif %}


{% endblock content %}