{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='title_contain'>
    <h1 class="title">{{ service.codigo_muestra }}</h1>
</div>


<p class="p-service"><strong>Servicio ETFA: </strong> {% if service.etfa == True  %} SI {% else %} NO {% endif %}</p>
<p class="p-service"><strong>Punto de muestreo: </strong>{{ service.punto_de_muestreo }}</p>
<p class='p-service'><strong>Tipo de muestra: </strong>{{ service.tipo_de_muestra }}</p>
<p class='p-service'><strong>Fecha de muestreo: </strong>{{ service.fecha_de_muestreo|date:"d-m-Y" }}</p>
<p class='p-service'><strong>Fecha de entrega al cliente: </strong>{{ service.fecha_de_entrega_cliente|date:"d-m-Y" }}</p>
{% if project.cotizado %}
{% else %}
<p class='p-service'><strong>Fecha de entrega de envase para enviar a terreno: </strong>{{ service.fecha_de_contenedores|date:"d-m-Y" }}</p>
{% endif %}

<p class='p-service'><strong>Fecha de recepción: </strong>{{ service.fecha_de_recepcion|date:"d-m-Y" }}</p>

{% if project.cotizado %}
{% else %}
<h3>Envases</h3>
<p class='p-service'>{{ service.envases }}</p>
{% endif %}

<h3>Observación</h3>
<p class='p-service'>{{ service.observacion }}</p>

<h3>Norma de referencia</h3>
<p class='p-service'>{{ norma.norma }}</p>

<h3>RCA</h3>
<p class='p-service'>{{ rca.rca_asociada }}</p>


<div>
    <div class='subtitle_contain'>
        <h2 class="subtitle">Parametros</h2>
        <a class='link-add' href="{% if service.etfa == True  %} {% url 'lims:add_service_parameter_etfa' service.codigo %} {% else %} {% url 'lims:add_service_parameter' service.codigo %} {% endif %}"><i class="fa-solid fa-circle-plus"></i></a> 
    </div>
    
    {% if parameters %}
        <table id='#table-service'>
            <tr>
                <td class='item-list-2 title-item-list'>Ensayo</td>
                <td class='item-list-2 title-item-list'>Responsable</td>
                <td class='item-list-2 title-item-list'>Fecha de inicio</td>  
                <td class='item-list-2 title-item-list'>Fecha de termino</td>      
                <td class='item-list-2 title-item-list'>Resultado Inical</td>  
                <td class='item-list-2 title-item-list'>Resultado final</td>
                
            </tr>
        
            {% for p in parameters %}
                <tr class='btn-service'>
                    <td class='item-list-2'><a href="{% url 'lims:edit_sample_parameter' p.id%}">
                        {% for i in parametros %}
                            {% if i.id == p.parametro_id %}<strong>{{ i.ensayo }}</strong> {% endif %}
                        {% endfor %}</a></td>
                    <td class='item-list-2'> {% if p.responsable_de_analisis == None %}{% else %}{{ p.responsable_de_analisis }}{% endif %}</td>
                    <td class='item-list-2'>{% if p.fecha_de_inicio == None %}{% else %}{{ p.fecha_de_inicio|date:"d-m-Y" }}{% endif %}</td>
                    <td class='item-list-2'>{% if p.fecha_de_terminado == None %}{% else %}{{ p.fecha_de_terminado|date:"d-m-Y" }}{% endif %}</td>
                    <td class='item-list-2'>{% if p.resultado == None %}{% else %}{{ p.resultado }}{% endif %}</td>
                    <td class='item-list-2'>{% if p.resultado_final == None %}{% else %}{{ p.resultado_final }}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            <span class="page-links">
                {% if parameters.has_previous %}
                    <a href="?page={{ parameters.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="page-current">
                    Pagina {{ parameters.number }} de {{ parameters.paginator.num_pages }}
                </span>
        
                {% if parameters.has_next %}
                    <a href="?page={{ parameters.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        
    {% else  %}
        No hay registro de parametros.
    {% endif %}

</div>


{% endblock content %}

{% block extrajs %}
    <script src="{% static 'js/lims.js' %}"></script>
{% endblock  %}