{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}
<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="buscar" id="">
            <option value=""></option>
            <option value="servicio">Servicio</option>
            <option value="ensayo">Ensayo</option>
            <option value="inicio">Fecha de inicio</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>
<div class='title_contain'>
    <h1 class="title title-par">Parámetros</h1>
    <div style='margin: auto 0;'>
        <form action="" method='POST'>
            {% csrf_token %}
            <table  class='client-select'>
                <tr>
                    <td class='item-input'>
                        <select class='select2' name="parametro" id="lang"  size='1'>
                            <option value=""></option>
                            {% for p in parameters %}
                                <option value="{{ p.id }}">{{ p.codigo }} (Analisis de {{ p.ensayo }} en {{ p.tipo_de_muestra }} por {{ p.metodo }})</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><button class='btn-filtrar' type="submit">Filtrar</button></td>
                    
                </tr>
            </table>
        </form>
    </div>
    
</div>

{% if service_parameters %}
    
    <table class='service_parameter_contain'>
        <tr style='text-align: center;'>
            <td class='item-list title-item-list'>Servicio</td>
            <td class='item-list title-item-list'>Ensayo</td>
            <td class='item-list title-item-list'>F. inicio</td>
            <td class='item-list title-item-list'>F. terminado</td>
            <td class='item-list title-item-list'>Resul. inicial</td>
            <td class='item-list title-item-list'>Factor dil.</td>
            <td class='item-list title-item-list'>Resul. final</td>
        </tr>
    
        {% for service_parameter in service_parameters %}
        <tr>    
            <td class='item-list'>{{ service_parameter.codigo_servicio }}</td>
            <td class='item-list'>{{ service_parameter.ensayo }}</td>
            <form action="" method='POST'>
                {% csrf_token %}
                {% if service_parameter.resultado_final != None %}
                    <td class='item-list'><p style='text-align:center;'>{{ service_parameter.fecha_de_inicio|date:"d-m-Y" }}</p></td>
                    
                    <td class='item-list'><p style='text-align:center;'>{{ service_parameter.fecha_de_terminado|date:"d-m-Y" }}</p></td>
                    
                    <td class='item-list'><p style='text-align:center;'>{{ service_parameter.resultado }}</p></td>
                    
                    <td class='item-list'><p style='text-align:center;'>{{ service_parameter.factor_de_dilucion }}</p></td>
                    
                    <td class='item-list'><p style='text-align:center;'>{{ service_parameter.resultado_final }}</p></td>
                {% else %}
                    <td class=''><input class='input-par' type='date' name="fecha_de_inicio" id="" placeholder="" ></td>
                    
                    <td class=''><input class='input-par' type='date' name="fecha_de_terminado" id="" placeholder="" ></td>
                    
                    <td class=''><input class='input-par' type='text' name="resultado" id="" placeholder="" ></td>
                    
                    <td class=''><input class='input-par' type='text' name="factor_de_dilucion" id="" placeholder="" ></td>
                    
                    <td class=''><input class='input-par' type='text' name="resultado_final" id="" placeholder="" ></td>
                {% endif %}
                
                
                <td style='display:none;' class='item-input'><input type="text" name="responsable_de_analisis" value='{{ user.id }}' readonly></td>
                
                <td style='display:none;' class='item-input'><input type='text' name="creator_user" value='{{ user.username }}' readonly></td>
                
                <td style='display:none;' class='item-input'><input type='text' name="parametro_id" value='{{ service_parameter.id }}' readonly></td>
                
                <td>{% if service_parameter.resultado_final != None  %} {% for g in user.groups.all %}{% if g.name == 'manager' %}<a href="{% url 'lims:service_parameter_dropped' service_parameter.id %}" title="Descartar análisis"><i class="fa-solid fa-x" style='color: red;'></i></a>{% endif %}{% endfor %}{% else %}<button type="submit" title="Guardar análisis"><i class="fa-solid fa-cloud-arrow-up"></i></button>{% endif %}</td>
            </form>
            {% comment %} service_parameter.responsable_de_analisis_id != None {% endcomment %}
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if service_parameters.has_previous %}
                <a href="?page={{ service_parameters.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ service_parameters.number }} de {{ service_parameters.paginator.num_pages }}
            </span>
    
            {% if service_parameters.has_next %}
                <a href="?page={{ service_parameters.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    
    
{% else %}
    <p style='margin: 0 0 15px'>No hay registro de parametros.</p>
{% endif %}


<div style="display: flex; justify-content: space-between; padding-top: 20px;">
    <div class='import'>
        <form action="" method="post" enctype="multipart/form-data" class='import-form'>
            {% csrf_token %}
            <input type="file" name="excel_file" id="">
            <input style='display:none;' type="text" name="responsable_de_analisis" value='{{ user.id }}' readonly>
            <button type="submit">Importar</button>
        </form>
    </div>
    <div>
        {% for g in user.groups.all %}
        {% if g.name == 'manager' %}
        <a class="btn-discard" href="{% url 'lims:discarded_service_parameters' %}">Descartados</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}