{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}

<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="opcion" id="">
            <option value=""></option>
            <option value="codigo">Codigo</option>
            <option value="punto">Punto de muestreo</option>
            <option value="muestreo">Fecha de muestreo</option>
            <option value="recepcion">Fecha de recepción</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>

<div class='title_contain'>
    <h1 class="title  title-par">Servicios</h1>
    <div style='margin: auto 0;'>
        <form action="" method='POST'>
            {% csrf_token %}
            <table  class='client-select'>
                <tr>
                    <td class='item-input'>
                        <select class='select2' name="client" id="lang"  size='1'>
                            <option value=""></option>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}">{{ cliente.titular }} </option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><button class='btn-filtrar' type="submit">Filtrar</button></td>
                    
                </tr>
            </table>
        </form>
    </div>
</div>

{% if servicios %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Codigo</td>
            <td class='item-list title-item-list'>Punto de muestreo</td>
            <td class='item-list title-item-list'>Fecha de muestreo</td>
            <td class='item-list title-item-list'>Fecha de recepción</td>

        </tr>
    
        {% for servicio in servicios %}
        <tr>
            <td class='item-list-sp'><a href="{% url 'lims:service' servicio.codigo_muestra %}" class='item-list-sp'>{{ servicio.codigo_muestra }}</a></td>
            <td class='item-list'>{{ servicio.punto_de_muestreo }}</td>
            <td class='item-list'>{{ servicio.fecha_de_muestreo }}</td>
            <td class='item-list'>{{ servicio.fecha_de_recepción }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    No hay registro de proyectos.
{% endif %}


{% endblock content %}