{% extends 'base/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/lims/lims.css' %}">
{% endblock %}

{% block content %}

<div class='search-contain'>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='search_text'placeholder='Buscar'>
        <select name="opcion" id="">
            <option value=""></option>
            <option value="codigo">Codigo</option>
            <option value="punto">Punto de muestreo</option>
            <option value="muestreo">Fecha de muestreo</option>
            <option value="recepcion">Fecha de recepción</option>
        </select>
        <button type="submit" class='btn-filtrar'>Buscar</button>
    </form>
</div>

<div class='title_contain'>
    <h1 class="title  title-par">Servicios</h1>
    <div style='margin: auto 0;'>
        <form action="" method='POST'>
            {% csrf_token %}
            <table  class='client-select'>
                <tr>
                    <td class='item-input'>
                        <select class='select2' name="client" id="lang"  size='1'>
                            <option value=""></option>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}">{{ cliente.titular }} </option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><button class='btn-filtrar' type="submit">Filtrar</button></td>
                    
                </tr>
            </table>
        </form>
    </div>
</div>

{% if servicios %}
    <table>
        <tr>
            <td class='item-list title-item-list'>Código</td>
            <td class='item-list title-item-list'>Punto de muestreo</td>
            <td class='item-list title-item-list'  style='text-align:center;'>Fecha de muestreo</td>
            <td class='item-list title-item-list'  style='text-align:center;'>Fecha de recepción</td>

        </tr>
    
        {% for servicio in servicios %}
        <tr class='row'>
            <td class='item-list-sp'><a  href="{% url 'lims:service' servicio.codigo %}" class='item-list-sp'>{{ servicio.codigo_muestra }}</a> {% if servicio.fecha_de_recepcion == None %}{% if servicio.filtros_id != None %}{% if  servicio.editor_sample_code == None %} <a href="{% url 'lims:edit_sample_code' servicio.codigo %}" title="Editar código de servicio"><i class="fa-solid fa-pen"></i></a>{% endif %}{% endif %}{% endif %}</td>
            <td class='item-list'  style="text-align: center;">{{ servicio.punto_de_muestreo }}</td>
            <form action="" method='POST'>
                {% csrf_token %} 
                <td class=''>{% if servicio.fecha_de_recepcion != None %} <p style='text-align:center; font-size: 1.2rem'>{{ servicio.fecha_de_muestreo|date:"d-m-Y H:i" }}</p> {% else %}<input class='input-par' type='text' name="fecha_de_muestreo" value='{{ servicio.fecha_de_muestreo|date:"d-m-Y H:i" }}'id="" placeholder="" >{% endif %}</td>
                
                <td class=''>{% if servicio.fecha_de_recepcion != None %} <p style='text-align:center; font-size: 1.2rem'>{{ servicio.fecha_de_recepcion|date:"d-m-Y H:i" }}</p> {% else %}<input class='input-par' type='datetime-local' name="fecha_de_recepcion" id="" placeholder="" >{% endif %}</td>
                
                <td style='display:none;' class='item-input'><input type="text" name="responsable" value='{{ user.username }}' readonly></td>
                
                <td style='display:none;' class='item-input'><input type='text' name="servicio_id" value='{{ servicio.codigo_muestra }}' readonly></td>
                
                <td>{% if servicio.fecha_de_recepcion != None %}{% else %}<button class='btn-upload-service' type="submit" title="Guardar servicio"><i class="fa-solid fa-cloud-arrow-up"></i></button>{% endif %}</td>
            </form>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="page-links">
            {% if servicios.has_previous %}
                <a href="?page={{ servicios.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="page-current">
                Pagina {{ servicios.number }} de {{ servicios.paginator.num_pages }}
            </span>
    
            {% if servicios.has_next %}
                <a href="?page={{ servicios.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% else %}
    No hay registro de servicios.
{% endif %}

{% endblock content %}