* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    min-height: 99vh;
    display: grid;
    place-items : center;
}

#particles-js {
	height: 100%; 
	width: 100%;
    position: absolute;
    z-index: -1;
}

form {
    background: white;
    width: 350px;
    height: auto;
    padding: 40px;
    border-radius: 20px;
    font-size : 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

label {
    color: #515151;
}

.logo {
    margin: 0 0 20px;
}

input {
    margin: 0 0 20px;
    padding: 5px;
    border-radius: 5px;
}

button {
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background: #0c7cbf;
    color: white; 
    cursor: pointer;
    border: 2px solid #979797;
}

button:hover {
    background: #acc835;
}

.login-error {
    font-size: 1.4rem;
    margin-bottom: 10px;
    background-color: #f7d7da;
    color: rgb(85, 0, 0);
    padding: 15px;
    border-radius: 5px;
}