body {
    padding-left: 20%;
}

main { 
    padding: 15% 10% 10%;
    width: 100%;
    min-height: 100vh;
    height: auto;
    color: rgb(97, 95, 95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.title_contain, .subtitle_contain {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.subtitle_contain {
    border-top: 1px solid rgb(124, 122, 122);
    padding-top: 10px;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 10px;
}

.title {
    
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.title-par {
    margin-right: 20px;
}
.p-service {
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.p-client {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}
table {
    width: 100%;
}


.btn-service:hover,  .btn-service-active{
    background: #ececec;
    border-radius:  5px;
}
.table-client {
    margin-bottom: 10px;
}

.item-add, .item-input {
    padding: 5px 0;
}
.item-input {
    width: 70%;
}

.item-input-2 {
    width: 30%;
}

.limit {
    width: 100%;
    padding-bottom: 10px ;
}
.item-input input {
    width: 100%;
}

#lang {
    width: 100%;
}

.input-par {
    text-align: center;
    width: 100%;
}
.item-list, .item-list-2, .item-list-sp {
    font-size: 1.2rem;
    padding: 5px;
    vertical-align: center;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.item-list{
    max-width: 180px;
}

.item-list-2, .item-list-sp  {
    min-width: 120px;
}

.item-sp {
    max-width: 80px;
}

.form-contador{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 5px 25px;
}

.client-select{
    margin-bottom: 15px;
}
.input-sp {
    width: 50px;
}
label {
    font-size: 1.4rem;   
}

tr {
    width: 100%;
}

input {
    font-size: 1.6rem;
}

.title-item-list {
    font-weight: bold;
    font-size: 1.4rem;
}

.select1 {
    width: 400px;
    margin-left: 20%;
}
.button-save {
    width: 250px;
    margin: 20px auto 0;
    border-radius: 10px;
    font-size: 1.4rem;
}

.btn-add {
    width: 100px;
    height: 30px;
    /* padding: 7px; */
    font-size: 1.4rem;
    text-align: center;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.btn-selector {
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
}

.button-save, .btn-selector, .btn-add {
    padding: 4px;
    color: white;
    background: #0c7cbf;
    cursor: pointer;
    font-weight: bold;
}

.button-save:hover, .btn-selector:hover, .btn-add:hover, .btn-filtrar:hover{
    background: #acc835;
}


.subtitle_contain {
    margin-top: 15px;
}

.fa-circle-plus, .fa-cloud-arrow-up {
    color: #0c7cbf;
    font-size: 2rem;
}

.fa-circle-plus:hover, .fa-cloud-arrow-up:hover {
    color: #acc835;
}
.link-add {
    margin-left: 10px;
}

.service_parameter_contain button,.btn-upload-service {
    border: none;
    background: none;
}

.btn-filtrar {
    background: #0c7cbf;
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
}

/* ----------------------- Service Parameter ---------------------- */

.search-contain {
    position: absolute;
    top: 110px;
    right: 50px;
}

.search-contain form {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    flex-direction: row;
}

.search-contain select {
    width: 150px;
}

.search-contain button {
    width: 50px;
}

/* --------------------------- Principal Menu ------------------- */
#body-menu {
    padding: 0 10%;
}
.main-menu  {
    display: grid;
    place-items : center;
}

#menu-contain { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    row-gap: 50px;
    grid-auto-rows: minmax(1fr, auto);
}

.link-menu {
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.2rem;
    background-color: #dbecf7;
    font-weight: bold;
}

.link-menu:hover {
    transition: 0.05s;
    transform: translateY(-4px);
}

.link-menu i {
    font-size: 4rem;
    margin-bottom: 5px ;
}

.pagination {
    text-align: end;
}

.sample_code_error,
.error_client,
.error_parameter {
    margin: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(250, 187, 187);
    color: #610000;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}