{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    
    {% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock  %}</title>
</head>
<body>
    <header>
        <nav>
            <a class='nav-left' href="#"><img class='nav-logo' src="{% static 'img/logo.png' %}" alt=""></a>
            <div class='nav-right'>
                <ul>
                    <!--<li><a href=""></a></li>
                    <li><a href=""></a></li>-->
                    <li><a href="{% url 'users:logout' %}">logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    {% block content %}{% endblock  %}

    {% block extrajs %}
    
    {% endblock  %}
</body>
</html>