{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    
    {% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e99219a564.js" crossorigin="anonymous"></script>
    <title>{% block title %}Algoritmos{% endblock  %}</title>
</head>
<body>
    <header>
        <nav>
            <a class='nav-left' href="{% url 'lims:index' %}"><img class='nav-logo' src="{% static 'img/logo.png' %}" alt="Logo de empresa"></a>
            <div class='nav-right'>
                <ul>
                    <!--<li><a href=""></a></li>-->
                    <li class="nav-item">{{ user.first_name }} {{ user.last_name }}</li>
                    <li class="nav-item"><a href="{% url 'users:logout' %}">Salir</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock  %}
        <div class='left-bar-contain'>
            <ul class='ul-left-bar-contain'>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:clients' %}">CLIENTES</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:projects' %}">PROYECTOS</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:services' %}">SERVICIOS</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:service_parameters' %}">PARAMETROS DE SERV.</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:etfa' %}">SERVICIOS ETFA</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:samples_type' %}">TIPOS DE MUESTRAS</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:parameters' %}">PARAMETROS</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:methods' %}">METODOS</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:containers' %}">ENVASES</a></li>
                <li class='left-bar-item'><a class='link-bar' href="{% url 'lims:normas_ref' %}">NORMAS DE REF</a></li>

            </ul>
        </div>
    </main>
    

    {% block extrajs %}
    
    {% endblock  %}
</body>
</html>